.cellImg {
  height: 100px;
  width: 100px;
}

#niceMargin {
  padding-top: 50px;
  margin-right: -150px;
}

#gens {
  display: flex;
  flex-wrap: wrap;
}

.gen {
  height: 100px;
  width: 230px;
}

#genBut {
  margin-left: 50px
}

#boardcontainer {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  background-color: rgb(219, 255, 219);
}

.cell {
  width: 100px;
  height: 100px;
}

.closed {
  pointer-events: none
}

#info {
  margin-top: -50px
}

#header {
  margin-top: 30px
}